/* ========================= VARIABLES ========================= */
/* Copy the variables listed here for consistency */

:root {
  /* Colors */
  --primary-color: #0e1414;
  --text-color: #fff;
  --highlight-color: #cf1430;

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-light: 300;

  /* Font Size */
  --font-size-15: 15px;
  --font-size-21: 21px;
  --font-size-30: 30px;
  --font-size-40: 40px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* ========================= FIRST SECTION ========================= */

/* Left Column - Images */
.firstSection-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr;
  min-height: 100vh;
  padding: 120px;
}

.middleCol {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.leftCol img,
.middleCol img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.firstSection-container img:hover {
  transform: scale(1.05);
}

/* Image Lightbox */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}

.lightbox.active {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

.lightbox-img {
  max-width: 80%;
  max-height: 80%;
  transform: scale(0.7);
  transition: transform 0.4s ease;
}

.lightbox.active .lightbox-img {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: var(--font-size-40);
  color: white;
  cursor: pointer;
}

/* End of Image Lightbox */


/* Right Column - Text */
.rightCol {
  padding: 25px;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center; 
  row-gap: 0;    
}

.section-title1,
.section-title2 {
  font-size: var(--font-size-30);
  letter-spacing: 2px;
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
/* Underline in section title1 */
.section-title1::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background: var(--text-color);
  margin: 30px 0;
}


.rightCol p {
  line-height: 30px;
  margin-bottom: 30px;
  font-size: var(--font-size-21);
  font-weight: var(--font-weight-light);
}

.redText {
  color: var(--highlight-color);
  font-size: var(--font-size-15);
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
}

.rightCol h3 {
  font-size: var(--font-size-21);
  font-weight: var(--font-weight-bold);
}

/* ========================= SECOND SECTION ========================= */

.secondSection-container {
  margin: auto;
  padding: 120px;
  position: relative;
  z-index: 1;
}

.text-center {
  text-align: center;
}

/* Underline in section title2 */
.section-title2::after {
  content: "";
  display: block;
  width: 27%;
  height: 1px;
  background: var(--text-color);
  margin: 30px auto;
  font-weight: var(--font-weight-light);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 25px;
  text-align: center;
  font-weight: var(--font-weight-light);
}

.card-content h3 {
  font-size: var(--font-size-21);
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.card-content p {
  font-size: var(--font-size-21);
  line-height: 1.6;
  color: #ccc;
}

/* Cards - Hover */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.card:hover::after {
  opacity: 1;
}

/* Card Link */
.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.card-link:focus {
  outline: 2px solid var(--highlight-color);
}

/* ========================= INNER PAGE ========================= */

.single-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 equal columns */
    gap: 2rem;
    align-items: center;
    padding: 3rem 10%;
    min-height: 100vh;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.single-inner-container .content p {
    line-height: 30px;
    font-size: var(--font-size-21);
    font-weight: var(--font-weight-light);
}

.back-link {
    display: inline-block;
    margin-top: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: var(--font-weight-bold);
}

.back-link:hover {
    text-decoration: none;
    color: var(--highlight-color)
}


/* ========================= MEDIA FOR RESPONSIVE ========================= */

/* Tablet */

@media (max-width: 1024px) {

  /* First Section */
  .firstSection-container {
    grid-template-columns: 1fr 1fr;
    padding: 60px;
  }

  .rightCol {
    grid-column: 1 / -1; /* to full width */
  }

  .rightCol {
    order: -1;/* Move right text to top in responsive */
  }

  .leftCol {
    order: 1;
  }

  .middleCol {
    order: 2;
  }

  /* Second Section */
  .secondSection-container {
    padding: 40px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* Mobile */

@media (max-width: 600px) {

  .firstSection-container {
    grid-template-columns: 1fr;
    padding: 20px !important
  }

  .middleCol {
    grid-template-rows: auto;
  }

  .lightbox-img {
    max-width: 95%;
    max-height: 70%;
  }

  .close {
    top: 20px;
    right: 20px;
    font-size: 30px;
  }

  /* Second Section */

  .card-container {
    grid-template-columns: 1fr !important;
    gap: 10px;
  }

}