/* Variables */

:root {
  /* Colors */
  --primary-color: #0e1414; 
  --text-color: #fff;   
  --highlight-color:#cf1430;

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-light: 300;

  /* Font Size */
  --font-size-12: 12px;
  --font-size-21: 21px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* ========================= FIRST SECTION ========================= */

/* Left Column - Images */
.firstSection-container {
  display: flex;
  min-height: 100vh;
  padding: 130px;
}

.leftCol {
  flex: 1.2;
}

.middleCol {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.leftCol img, .middleCol img {
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.firstSection-container img:hover {
  transform: scale(1.05);
}

/* Image Lightbox */

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}

.lightbox.active {
  opacity: 1;
  visibility: visible;
}

.lightbox-img {
  max-width: 80%;
  max-height: 80%;
  transform: scale(0.7);
  transition: transform 0.4s ease;
}

.lightbox.active .lightbox-img {
  transform: scale(1);
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: var(--font-size-40);
  color: white;
  cursor: pointer;
}

/* End of Image Lightbox */


/* Right Column - Text */

.rightCol {
  flex: 1.2;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title1, .section-title2 {
  font-size:var(--font-size-30);
  letter-spacing: 2px;
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.section-title1::after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background: var(--text-color);
    margin: 30px 0;
}


.rightCol p {
  line-height: 30px;
  margin-bottom: 30px;
  font-size: var(--font-size-21);
  font-weight: lighter;
}

.redText {
  color: var(--highlight-color);
  font-size: var(--font-size-12);
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
}

.rightCol h3 {
  font-size: var(--font-size-21);
  font-weight: var(--font-weight-bold);
}

/* ========================= SECOND SECTION ========================= */

.secondSection-container {
  padding: 60px 20px;
  margin: auto;
  padding: 0 130px;
}

.text-center {
text-align: center;
}


.section-title2::after {
    content: "";
    display: block;
    width: 27%; 
    height: 1px;
    background:var(--text-color);
    margin: 30px auto;
    font-weight: var(--font-weight-light);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.card-content {
  padding: 25px;
  text-align: center;
  font-weight: var(--font-weight-light);
}

.card-content h3 {
  font-size: var(--font-size-21);
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.card-content p {
  font-size: var(--font-size-21);
  line-height: 1.6;
  color: #ccc;
}

/* Hover */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover::after {
  opacity: 1;
}
/* ========================= MEDIA QUERIES ========================= */ 


/* Mobile */
@media (max-width: 600px) {

  .firstSection-container {
    flex-direction: column;
     padding: 0 !important;
  }

  .leftCol img,
  .middleCol img {
    height: 250px;
  }

  .middleCol {
    grid-template-rows: 250px 250px;
  }

  .lightbox-img {
    max-width: 95%;
    max-height: 70%;
  }

  .close {
    top: 20px;
    right: 20px;
    font-size: 30px;
  }

  /* Second Section */
  .secondSection-container {
    padding: 50px 20px;
  }

  .card-container {
    grid-template-columns: 1fr !important;
    gap: 30px;
  }

  .card img {
    height: 250px;
  }

}


@media (max-width: 768px) {
  .firstSection-container {
    flex-direction: column;
  }

  .rightCol {
    order: 1;   /* Move the text: "What does cooking mean" to top */
  }

  .leftCol {
    order: 2;
  }

  .middleCol {
    order: 3;
  }
}


/* Tablet */
@media (max-width: 1024px) {
  /* First Section */
  .firstSection-container {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .left,
  .middleCol {
    flex: unset;
    width: 100%;
  }

  .middleCol {
    grid-template-rows: 300px 300px;
  }

  .leftCol img,
  .middleCol img {
    height: 300px;
  }

  .rightCol {
    order: -1;   /* Move text to top */
  }

  .leftCol {
    order: 1;
  }

  .middleCol {
    order: 2;
  }

  /* Second Section */
  .secondSection-container {
    padding: 60px 60px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

